*{
     box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:sans-serif;
    width: 100%;
    background-color: rgb(3, 3, 53);
    color: #f56a6a;
}

hr{
    width:95%;
    margin:20px auto;
    border: 2px solid #f56a6a;
    background-color: #f56a6a;
    margin-bottom: 20px;
}

#landingview .navbar{
    width:95%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    margin-top:5px;
    margin-bottom: 0%;
}

#landingview .navbar .logo ul{
    display: flex;
    width:20%;
    float: right;
    list-style: none;
   margin-top: 10px;
   justify-content: space-between;
}
 .navbar li{
     margin-right: 5px;
 }

#landingview .navbar .logo ul li img{
    border-radius: 100px;
    align-items: center;
}

.main{
    padding: 50px;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

.main .feature img{
max-height: 30%;
max-width: 30%;
background-color: white
}

.main .feature{
    padding-left: 10px;
    width: 23%;
}
.main .feature h3{
    padding-bottom: 20px;
    font-weight: 500;
    padding-top: 10px;
    font-weight: 2rem;
}
.main .feature p{
    color: white;
}

.blockquote{
    width: 80%;
    margin: auto;
}
.blockquote h2{
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.blockquote p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.blockpoint{
    display: flex;
    padding:  3% 
}

.blockpoint ul{
    font-size: 2rem;
    font-weight: 300;
    min-width: 43%;
    text-align: left;
    padding-right: 10;
}

.blockpoint ul li{
    color: white;
    margin-top: 35px;
}

.blockpoint img{
max-height: 43%;
max-width: 43%;
border-radius: 30px;
}

#process img{
    height: 90px;
    width: 90px;
    border-radius: 100px;
}

#process h1{
    text-align: center;
    font-weight: 500;
    font-size:50px;
    text-transform: uppercase;
    margin-bottom: 90px;
    color: white;
}

#process h3{
    font-weight: 500;
}
#process .row-1{
    display: flex;
    justify-content: space-evenly;
    margin:40px 0px;
    text-align: center;
    text-transform: uppercase;
}

#process .row-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-transform: uppercase;
}

#process .line2{
    padding: 20px;
}

.footline{
    margin-top: 90px;
    width: 55%;
    border: 1px solid  #f56a6a;
    background-color:  #f56a6a;
}

footer{
    height: 50px;
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
    margin: auto;
}

footer ul li img{
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

@media (max-width:600px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main .feature{
        padding-left: 10px;
        width: 100%;
    }
    .main .feature p{
        margin-bottom: 30px;
    }

    .main .feature img{
        height: 12%;
        width: 12%;
    }

    .blockpoint{
        display: flex;
        flex-direction:column;
    }
    .blockquote p{
        text-align: left;
        font-size: 1.2rem;
        text-align: center;
    }
    .blockpoint ul{
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 30px;
        text-align: center;
        list-style: none;
    }

    .blockpoint ul li{
      margin-top: 20px;
    }

    .blockpoint img{
        margin: auto;
        height: 100%;
        min-width: 70%;
        border-radius: 30px;
    }

    #process img{
        height: 40px;
        width: 40px;
    }

     #process h1{
        font-size: 2rem;
        color: #f56a6a;
    } 
    #process .grid{
        display: grid;
        grid-template-columns:repeat(2,1fr);
       
    }

    #process .grid .row-1{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        margin: 0;
    }

    #process .grid .row-2 {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        margin: 0;
        padding: 0%;
    }

    #process .line1{
        padding: 20px;
    }
    .out{
        position: relative;
        left:120px;
    }
}